<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>IO.NET Store</ion-title>

    <ion-buttons slot="end">
      @if (!authService.isAuthenticated()) {
      <ion-button routerLink="/login">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Ingresar
      </ion-button>
      <ion-button routerLink="/register">
        <ion-icon nslot="start" name="newspaper-outline"></ion-icon>
        Registrarse
      </ion-button>
      }
      @else {
      <ion-button>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        {{ authService.getUserName() }}
      </ion-button>
      <ion-button (click)="authService.logout()">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
        Salir
      </ion-button>
      }

      <ion-button routerLink="/cart" class="cart-btn">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        @if (cartService.totalItems() > 0) {
        <ion-badge color="danger" class="cart-badge">
          {{ cartService.totalItems() }}
        </ion-badge>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  @if (loading) {
  <div class="center-content ion-text-center ion-padding-top">
    <ion-spinner name="lines" color="primary"></ion-spinner>
    <p>Cargando catálogo...</p>
  </div>
  }

  @else if (products.length === 0) {
  <div class="center-content ion-text-center ion-padding-top">
    <ion-icon name="alert-circle-outline" color="medium" style="font-size: 4rem;"></ion-icon>
    <h2>No hay productos disponibles</h2>
    <p>Intenta recargar la página más tarde.</p>
    <ion-button fill="outline" (click)="loadProducts()">Recargar</ion-button>
  </div>
  }

  @else {
  <ion-grid fixed>
    <ion-row>
      @for (product of products; track product.id) {
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="product-card">

          <img [src]="product.imageUrl" [alt]="product.name" class="product-image" />

          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
            <ion-card-subtitle class="price-tag">
              {{ product.price | currency:'COP':'symbol-narrow':'1.0-0' }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>{{ product.description }}</p>
            <div class="quantity-controls">
              <ion-button fill="clear" color="medium" (click)="decreaseQuantity(product.id)">
                <ion-icon slot="icon-only" name="remove-circle-outline" class="quantity-icon"></ion-icon>
              </ion-button>

              <span class="quantity-value">{{ getQuantity(product.id) }}</span>

              <ion-button fill="clear" color="primary" (click)="increaseQuantity(product.id)">
                <ion-icon slot="icon-only" name="add-circle-outline" class="quantity-icon"></ion-icon>
              </ion-button>
            </div>

            <ion-button color="primary" expand="block" (click)="addToCart(product)">
              <ion-icon slot="start" name="cart-outline"></ion-icon>
              Agregar
            </ion-button>
          </ion-card-content>

        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  }

</ion-content>