<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalog" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding flex-center-content">

  <div class="login-container">

    <div class="login-header ion-text-center">
      <ion-icon name="person-outline" color="primary"></ion-icon>
      <h1>Bienvenido a ION.NET Store</h1>
      <p>Inicia sesión para continuar con tu compra.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-list lines="none">

        <ion-item class="login-item">
          <ion-icon slot="start" name="person-outline" color="medium"></ion-icon>
          <ion-input labelPlacement="floating" label="Correo Electrónico" type="email" placeholder="tu@email.com"
            formControlName="email" autocomplete="email">
          </ion-input>
        </ion-item>

        @if (f['email'].touched && f['email'].errors) {
        <div class="error-container ion-padding-start">
          @if (f['email'].errors['required']) { <ion-text color="danger">El correo es obligatorio.</ion-text> }
          @if (f['email'].errors['email']) { <ion-text color="danger">El formato de correo no es válido.</ion-text> }
        </div>
        }

        <ion-item class="login-item ion-margin-top">
          <ion-icon slot="start" name="lock-closed-outline" color="medium"></ion-icon>
          <ion-input labelPlacement="floating" label="Contraseña" type="password" formControlName="password">
          </ion-input>
        </ion-item>

        @if (f['password'].touched && f['password'].errors) {
        <div class="error-container ion-padding-start">
          @if (f['password'].errors['required']) { <ion-text color="danger">La contraseña es obligatoria.</ion-text> }
          @if (f['password'].errors['minlength']) { <ion-text color="danger">Debe tener al menos 4
            caracteres.</ion-text> }
        </div>
        }

      </ion-list>

      <div class="ion-padding-top ion-margin-top">
        <ion-button expand="block" color="primary" type="submit" [disabled]="loginForm.invalid || loading">
          @if (loading) {
          <ion-spinner name="crescent"></ion-spinner>
          } @else {
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Iniciar sesión
          }
        </ion-button>
      </div>

      <div class="ion-text-center ion-margin-top registration-link">
        <ion-text color="medium">¿No tienes cuenta?</ion-text>
        <ion-button fill="clear" color="secondary" size="small">Regístrate aquí</ion-button>
      </div>

    </form>

  </div>

</ion-content>